html {
    background-color: black;
    
}

header {
    color: white;
    border-bottom: solid 2pt white;
}

.Title {
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 0.5cm;
    margin-bottom: 0.5cm;
}

p {
    text-align: justify;
    font-size: 14pt;
}

a {
    color: grey;
}

.head_part {
    display: block;
    height: auto;
    width: 100;
    margin-left: 5%;
    margin-right: 5%;
}

.image_presentation {
    display: block;
    float: left;
    width: 30%;
    color: white;
    margin-top: 2cm;
    margin-bottom: 2cm;
    margin-left: 5%;
    margin-right: 5%;
}

.image_presentation_id {
    margin-right: 10%;
    margin-left: 10%;
    width: 80%;
}

.logo_presentation {
    width: 80%;
    margin-top: 10px;
    margin-right: 50px;
    margin-left: 50px;
}

.text_description {
    display: block;
    float: right;
    width: 50%;
    color: white;
    height: 10cm;
    margin-top: 2cm;
    margin-bottom: 2cm;
    margin-left: 0%;
    margin-right: 10%;
}

.text_description_content{
    margin-top: 5%;
    margin-bottom: 5%;
}

.Logo {
    display: block;
    float: left;
    margin-left: 2.5%;
    margin-right: 2.5%;
    height: 75px;
}

.footer {
    width: 100%;
    display: block;
    border-top: solid 1pt white;
    margin-top: 15cm;
    text-align: center;
    color: white;
}

.space {
    margin-top: 1cm;
    margin-bottom: 1cm;
}